<div class="col-lg-12">
  <div class="container-fluid">
    <div class="row">
        <button class="btn btn-primary btn-o pull-right" (click)="editar()">
				  Agregar Categoria
		    </button>
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-sm">
            <li style="cursor: pointer;" [ngClass]="{'hidden': page == 1}">
              <a type="button" (click)="paginate(1)" aria-label="Previous">
                <span aria-hidden="true">
                  <i class="glyphicon glyphicon-fast-backward"></i>
                </span>
              </a>
            </li>
            <li style="cursor: pointer;" [ngClass]="{'hidden': page == 1}">
              <a (click)="paginate(page - 1 )" aria-label="Previous">
                <span aria-hidden="true"><i class="glyphicon glyphicon-backward"></i> </span>
              </a>
            </li>
            <li *ngFor="let pagina of numbers;" [ngClass]="{'active': pagina + 1 == page}" style="cursor: pointer;">
              <a (click)="paginate(pagina + 1)"> {{pagina + 1}} </a>
            </li>
            <li style="cursor: pointer;" [ngClass]="{'hidden': page == numbers.length }">
              <a type="button" (click)="paginate(page + 1 )" aria-label="Previous">
                <span aria-hidden="true"><i class="glyphicon glyphicon-forward"></i> </span>
              </a>
            </li>
            <li style="cursor: pointer;" [ngClass]="{'hidden': page == numbers.length }">
              <a (click)="paginate(pages)" aria-label="Next">
                <span aria-hidden="true">
                  <i class="glyphicon glyphicon-fast-forward"></i>
                </span>
              </a>
            </li>
          </ul>
        </nav>
    </div>

    <swal
      #deleteSwal
      title="Esta seguro que desea eliminar esta categoria?"
      text="Se perderan los conceptos y movimientos relacionados a esta categoria"
      type="question"
      [showCancelButton]="true"
      [focusCancel]="true">
    </swal>
    <div class="row" style="margin-top: 5px;" [@listAnimation]="categorias.length">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" *ngFor="let categoria of categorias; let i = index" style="border-radius: 32px; height:290px; max-height: 310px; ;">
        <div class="panel panel-white radius text-center" style="box-shadow: 1px 10px 15px 0px; " >
          <div class="panel-body">
            <span class="fa-stack"> 
              <i [ngClass]="categoria.icon || categoria.ban" class="text-primary" style="font-size: 36px; color: #DDDEDE;"></i> 
            </span>
            <h2 class="small">
                {{ categoria.nombre | uppercase}}
            </h2>
            <p class="text-small">
                {{ categoria.descripcion || "Sin descripcion"}}
            </p>
            <p class="links cl-effect-1">
                  <a class="btn btn-sm" (click)="editar(categoria)" title="Editar" style="color: #232122">
                      <i class="glyphicon glyphicon-edit"></i>
                  </a>
                  <a class="btn btn-sm" title="Eliminar" [swal]="deleteSwal" (confirm)="eliminar(categoria)" style="color: #232122">
                      <i class="glyphicon glyphicon-remove"></i>
                  </a>
                  <a class="btn btn-sm" title="Agrear conceptos" (click)="addConcepts(categoria)" style="color: #232122">
                      <i class="glyphicon glyphicon-th-list"></i>
                  </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div *ngIf="showModal">
          <app-add-categoria [categoriaEdit]="categoriaEdit"
          (ubdateTable)="ubdateTable($event)"></app-add-categoria>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalConceptos" tabindex="-1" role="dialog" aria-labelledby="myModalLabelC" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div *ngIf="categoriaVisualizar">
          <app-modal-conceptos [categoria]="categoriaVisualizar"></app-modal-conceptos>
      </div>
    </div>
  </div>
</div>
