<div class="navigation col-lg-12">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    {{title}} 
                </a>
            </div>
            <ul class="nav navbar-nav" *ngIf="identity">
                <li>
                  <a [routerLink]="['/home']" [routerLinkActive]="['active']">
                    <span class="glyphicon glyphicon-home">
                    </span>
                    Inicio
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/estadisticas']" [routerLinkActive]="['active']">
                    <span class="glyphicon glyphicon-stats">
                    </span>
                    Estadísticas
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/categorias']" [routerLinkActive]="['active']">
                    <span class="glyphicon glyphicon-tasks">
                    </span>
                    Categorias
                  </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="identity">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="caret">
                    </span>
                    {{identity.name}}
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a style="cursor:pointer" (click)="logout()">
                        <span class="glyphicon glyphicon-log-out">
                        </span>
                        Cerrar sesión
                      </a>
                    </li>
                  </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
                <li>
                  <a [routerLink]="['/login']" [routerLinkActive]="['active']">
                    <span class="glyphicon glyphicon-log-in">
                        Login
                    </span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
                    <span class="glyphicon glyphicon-user">
                        Registrarme
                    </span>
                  </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<main>
  <div style="margin-left: 30px; margin-right: 30px;">
    <router-outlet></router-outlet>
  </div>
</main>
