<div>

	<div class="panel panel-default">
		<div class="panel-heading"> 
			<strong>Total periodo: </strong> {{ total | currency }} 
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="container-fluid pull-right">
					<input type="date" name="fechaIni" id="fechaIni" [(ngModel)]="fechaIni">
					-
					<input type="date" name="fechaFin" id="fechaFin" [(ngModel)]="fechaFin">

					<div class="btn-group" role="group" aria-label="...">
						<button  type="button" class="btn btn-default" (click)="ngOnInit()">
								Actualizar
						</button>
						<button type="button" class="btn btn-default" (click)="cambiarGrafica()">
							Cambiar gráfica
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="chartdiv" style="height: 500px"></div>
			</div>
		</div>
	</div>
</div>