/* You can add global styles to this file, and also import other style files */
.navigation {
    margin: 0px;
    padding: 0px !important;
    border-radius: 0px !important;
}

.active {
  border-bottom: 3px solid;
}

.jumbotron{
  padding: 25px;
  border-radius: 15;
}
