/* You can add global styles to this file, and also import other style files */
.navigation {
    margin: 0px;
    padding: 0px !important;
    border-radius: 0px !important;
}

.active {
  border-bottom: 5px solid #206E9F;
  border-radius: 2px 12px 120px 100px;
  transition: border-bottom .2s ease-in-out;
  -webkit-transition: border-bottom .2s ease-in-out;
  -moz-transition: border-bottom .2s ease-in-out;
  -ms-transition: border-bottom .2s ease-in-out;
}

.jumbotron{
  padding: 25px;
  border-radius: 15;
}
